<a href="https://colab.research.google.com/github/pammehta2017/project/blob/master/Churnrate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('Hiring_Challenge(11).csv')

In [3]:
#check the head of the data
df.head()

  C1     C2   C3 C4 C5 C6 C7   C8 C9 C10  C11 C12 C13         C14  C15  Hired
0  a  71.58  0.0  u  g  c  v  0.0  f   f    0   f   p  184.014771    0      1
1  b  37.58  0.0  u  g  c  v  0.0  f   f    0   f   p  184.014771    0      1
2  b  20.42  0.0  u  g  c  v  0.0  f   f    0   f   p  184.014771    0      0
3  b  34.58  0.0  u  g  c  v  0.0  f   f    0   f   p  184.014771    0      0
4  b  23.17  0.0  u  g  c  v  0.0  f   f    0   f   p  184.014771    0      1

In [4]:
df.columns

Index(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11',
       'C12', 'C13', 'C14', 'C15', 'Hired'],
      dtype='object')

In [5]:
# dropping columns with same pattern
df.drop('C5', axis= 1, inplace= True  )

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C1      690 non-null    object
 1   C2      690 non-null    float64
 2   C3      690 non-null    float64
 3   C4      690 non-null    object
 4   C6      690 non-null    object
 5   C7      690 non-null    object
 6   C8      690 non-null    float64
 7   C9      690 non-null    object
 8   C10     690 non-null    object
 9   C11     690 non-null    int64
 10  C12     690 non-null    object
 11  C13     690 non-null    object
 12  C14     690 non-null    float64
 13  C15     690 non-null    int64
 14  Hired   690 non-null    int64
dtypes: float64(4), int64(3), object(8)
memory usage: 81.0+ KB

In [7]:
# check to see if there is any null or nan value
df.isnull().any().sum()

0

In [8]:
df.describe()

               C2          C3  ...            C15       Hired
count  690.000000  690.000000  ...     690.000000  690.000000
mean    31.568171    4.758725  ...    1017.385507    0.444928
std     11.853273    4.978163  ...    5210.102598    0.497318
min     13.750000    0.000000  ...       0.000000    0.000000
25%     22.670000    1.000000  ...       0.000000    0.000000
50%     28.625000    2.750000  ...       5.000000    0.000000
75%     37.707500    7.207500  ...     395.500000    1.000000
max     80.250000   28.000000  ...  100000.000000    1.000000

[8 rows x 7 columns]

In [9]:
df.corr()

             C2        C3        C8       C11       C14       C15     Hired
C2     1.000000  0.201316  0.392787  0.185575 -0.077161  0.018539  0.161627
C3     0.201316  1.000000  0.298902  0.271207 -0.222346  0.123121  0.206294
C8     0.392787  0.298902  1.000000  0.322330 -0.076389  0.051345  0.322475
C11    0.185575  0.271207  0.322330  1.000000 -0.119809  0.063692  0.406410
C14   -0.077161 -0.222346 -0.076389 -0.119809  1.000000  0.065609 -0.099972
C15    0.018539  0.123121  0.051345  0.063692  0.065609  1.000000  0.175657
Hired  0.161627  0.206294  0.322475  0.406410 -0.099972  0.175657  1.000000

In [10]:
df = pd.get_dummies(df)

In [11]:
df.head()

      C2   C3   C8  C11         C14  ...  C12_f  C12_t  C13_g  C13_p  C13_s
0  71.58  0.0  0.0    0  184.014771  ...      1      0      0      1      0
1  37.58  0.0  0.0    0  184.014771  ...      1      0      0      1      0
2  20.42  0.0  0.0    0  184.014771  ...      1      0      0      1      0
3  34.58  0.0  0.0    0  184.014771  ...      1      0      0      1      0
4  23.17  0.0  0.0    0  184.014771  ...      1      0      0      1      0

[5 rows x 44 columns]

In [12]:
df.dtypes

C2       float64
C3       float64
C8       float64
C11        int64
C14      float64
C15        int64
Hired      int64
C1_a       uint8
C1_b       uint8
C4_l       uint8
C4_u       uint8
C4_y       uint8
C6_aa      uint8
C6_c       uint8
C6_cc      uint8
C6_d       uint8
C6_e       uint8
C6_ff      uint8
C6_i       uint8
C6_j       uint8
C6_k       uint8
C6_m       uint8
C6_q       uint8
C6_r       uint8
C6_w       uint8
C6_x       uint8
C7_bb      uint8
C7_dd      uint8
C7_ff      uint8
C7_h       uint8
C7_j       uint8
C7_n       uint8
C7_o       uint8
C7_v       uint8
C7_z       uint8
C9_f       uint8
C9_t       uint8
C10_f      uint8
C10_t      uint8
C12_f      uint8
C12_t      uint8
C13_g      uint8
C13_p      uint8
C13_s      uint8
dtype: object

In [13]:
X = df.drop('Hired', axis= 1)
y = df['Hired']

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.2, random_state = 0)

In [16]:
model_eval = pd.DataFrame(index= ['Random Forest'], columns =['Score'])

In [23]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
ypred = rf.predict(X_test)

In [24]:
log = LogisticRegression()
log.fit(X_train, y_train)
ypred2 = log.predict(X_test)

In [25]:
xg = XGBClassifier()
xg.fit(X_train, y_train)
ypred3 = xg.predict(X_test)

In [28]:
model_eval.loc['Random Forest', 'Score'] = accuracy_score(ypred, y_test)
model_eval.loc['Logistic', 'Score'] = accuracy_score(ypred2, y_test)
model_eval.loc['XGBoost', 'Score'] = accuracy_score(ypred3, y_test)

In [29]:
model_eval

                  Score
Random Forest  0.833333
Logistic        0.84058
XGBoost        0.833333

In [30]:
import joblib
joblib.dump(log,'model')

['model']

In [31]:
rf.feature_importances_

array([5.85893601e-02, 6.53136151e-02, 6.94971809e-02, 5.48170863e-02,
       6.45525502e-02, 5.80964360e-02, 8.47208145e-03, 8.00912928e-03,
       2.59217499e-03, 1.29934182e-02, 1.32528549e-02, 7.68342140e-03,
       7.58852941e-03, 6.27041048e-03, 3.47412323e-03, 2.66674355e-03,
       5.40223147e-03, 7.49799661e-03, 4.77520925e-04, 7.31960659e-03,
       2.45522414e-03, 8.02474657e-03, 9.48872805e-05, 8.76008313e-03,
       7.96204371e-03, 7.52214549e-03, 3.16916899e-04, 5.51632292e-03,
       1.10617383e-02, 7.29637568e-05, 2.58360999e-03, 3.30687021e-04,
       8.50876711e-03, 9.46949416e-04, 1.77313847e-01, 1.77425424e-01,
       4.51989555e-02, 3.34995760e-02, 7.35887840e-03, 9.30082508e-03,
       8.63264107e-03, 4.14615881e-03, 8.40013705e-03])

In [32]:
weights = pd.DataFrame(rf.feature_importances_, index= X.columns.values)

In [33]:
weights

              0
C2     0.058589
C3     0.065314
C8     0.069497
C11    0.054817
C14    0.064553
C15    0.058096
C1_a   0.008472
C1_b   0.008009
C4_l   0.002592
C4_u   0.012993
C4_y   0.013253
C6_aa  0.007683
C6_c   0.007589
C6_cc  0.006270
C6_d   0.003474
C6_e   0.002667
C6_ff  0.005402
C6_i   0.007498
C6_j   0.000478
C6_k   0.007320
C6_m   0.002455
C6_q   0.008025
C6_r   0.000095
C6_w   0.008760
C6_x   0.007962
C7_bb  0.007522
C7_dd  0.000317
C7_ff  0.005516
C7_h   0.011062
C7_j   0.000073
C7_n   0.002584
C7_o   0.000331
C7_v   0.008509
C7_z   0.000947
C9_f   0.177314
C9_t   0.177425
C10_f  0.045199
C10_t  0.033500
C12_f  0.007359
C12_t  0.009301
C13_g  0.008633
C13_p  0.004146
C13_s  0.008400